<h2 class="white-text">会員情報</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class: "white-text" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "white-text" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="white-text">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, class: "white-text" %> <i class="white-text">(変更しない場合は空にしてください)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "white-text" %>
    <% if @minimum_password_length %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: "white-text" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "white-text" %>
  </div>

  <div class="field">
    <%= f.label :current_password, class: "white-text" %> <br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "white-text" %>
  </div>

  <% if current_user.id == 1 %>
    <p class="white-text">
      管理者は変更できません。
    </p>
  <% else %>
    <div class="actions">
      <%= f.submit "更新" %>
    </div>
  <% end %>
<% end %>

<h3 class="white-text">アカウントの削除</h3>

<% if current_user.id == 1 %>
  <p class="white-text">
    管理者は削除できません。
  </p>
<% else %>
  <p class="white-text">
    アカウントを削除した場合、会員情報を復活させることはできません。 <%= button_to "アカウントを削除", registration_path(resource_name), data: { confirm: "本当によろしいですか？?" }, method: :delete %>
  </p>
<% end %>

<%= link_to "戻る", :back, class: "waves-effect waves-light btn grey darken-3", style: "margin: 20px" %>
