<div class="container">
  <h4 class="white-text">公開中の作品一覧</h4>
  <div class="container">
    <% @movies.each do |movie| %>
      <div class="row">
        <div class="card blue-grey darken-4">
          <div class="card-content white-text">
            <span class="card-title"><%= movie.title %></span>
            <p><%= movie.detail %></p>
            <% movie.schedules.each do |schedule| %>
              <li class="card black">
                <%= link_to reservation_path(schedule), class: "white-text" do %>
                  SCREEN<%= schedule.theater_number %> <span style="padding-left: 50px;"><%= schedule.screening_date.strftime('%H:%M') %>~</span><span class="yellow-text" style="float: right;">購入　></span>
                <% end %>
              </li>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>