<div class="container">
  <h5 class="white-text">上映スケジュールの検索</h5>
  <ul class="horizontal-list"> 
    <% @date.each do |date| %>
      <li class="item">
        <a href="/?search=<%= date %>" class="link">
          <div>　<%= date.strftime("%m/") %></div>
          <div style="text-align: center;font-size:x-large;">
            <%= date.strftime("%d") %>
          </div>
          <div style="text-align:center;font-size:large;">
            <%= %w(日 月 火 水 木 金 土)[date.wday] %>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
  <h4 class="white-text"><%= @search_date.strftime("%m月%d日") %>の上映スケジュール</h4>
  <div class="container">
    <% @movies.each do |movie| %>
      <div class="row">
        <div class="card blue-grey darken-4">
          <div class="card-content white-text">
            <span class="card-title"><%= movie.title %></span>
            <p><%= movie.detail %></p>
            <% @schedule.each do |schedule| %>
              <% if schedule.movie_id == movie.id %>
                <li class="card black">
                  <%= link_to reservation_path(schedule), class: "white-text" do %>
                    SCREEN<%= schedule.theater_number %> <span style="padding-left: 50px;"><%= schedule.screening_date.strftime('%H:%M') %>~</span><span class="yellow-text" style="float: right;">購入　></span>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>