<div>
  <h3 class="white-text">ご予約内容の確認</h3>
  <h4 class="white-text">お客様情報</h4>
  <ul class="white-text">
    <li>メールアドレス:<%= current_user.email %></li>
  </ul>
  <h4 class="white-text">今回のお申し込み内容</h4>
  <table class="white-text">
    <tr>
      <th>作品</th>
      <td><%= @schedule.movie.title %></td>
    </tr>
    <tr>
      <th>日時</th>
      <td><%= @schedule.screening_date.strftime('%H:%M') %></td>
    </tr>
    <tr>
      <th>チケット金額</th>
      <td>1,800円×<%= @count %></td>
    </tr>
    <tr>
      <th>合計</th>
      <td><%= @amount %>円</td>
    </tr>
    <tr>
      <th>座席</th>
      <td><%= @count %>名様の席を指定いたしました。<%= @selects %></td>
  </table>
  <%= form_for(@reservation) do |f| %>
    <%= f.hidden_field :reserved_seat, :value => @selects %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :schedule_id, :value => @schedule.id %>
    <%= f.submit "予約する" %>
  <% end %>
</div>