<!DOCTYPE html>
<html>
  <head>
    <title>CinemaRuby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>

  <body style="background-color:black;">
    <div id="app" class="black">
      <header>
        <nav class="nav-extended red accent-4">
          <div class="nav-wrapper">
            <%= link_to 'Ruby シネマワールド', root_path, {class: "brand-logo white-space:nowrap"} %>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            </ul>
          </div>
          <div class="nav-content">
            <ul class="tabs tabs-transparent">
              <% if user_signed_in? %>
                <li class="tab"><%= link_to current_user.email, users_path %></li>
                <li class="tab"><%= link_to '上映スケジュール', root_path %></li>
                <li class="tab"><%= link_to '会員情報', users_path %></li>
                <li class="tab"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
                <% if current_user.id == 1%>
                  <li class="tab"><%= link_to "上映スケジュールの追加", new_movie_path %></li>
                <% end %>
              <% else %>
                <li class="tab"><%= link_to '上映スケジュール', root_path %></li>
                <li class="tab"><%= link_to '新規登録', new_user_registration_path %></li>
                <li class="tab"><%= link_to 'ログイン', new_user_session_path %></li>
              <% end %>
            </ul>
          </div>
        </nav>
      </header>

      <p class="notice white-text"><%= notice %></p>
      <p class="alert white-text"><%= alert %></p>
      <%= yield %>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
