<!DOCTYPE html>
<html>
  <head>
    <title>CinemaRuby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>

  <body>
    <div id="app" class="black">
      <nav>
        <div class="nav-wrapper red accent-4">
          <a href="/" class="brand-logo white-space:nowrap">Ruby シネマワールド</a>
          <a href="#" data-target="mobile-menu" class="sidenav-trigger">menu</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#">上映スケジュール</a></li>
            <li><a href="#">上映作品</a></li>
          </ul>
        </div>
      </nav>

      <ul class="sidenav black" id="mobile-menu">
        <li><a href="#" class="white-text red accent-4">上映スケジュール</a></li>
        <li><a href="#" class="white-text red accent-4">上映作品</a></li>
      </ul>

      <%= yield %>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
