<!DOCTYPE html>
<html>
  <head>
    <title>CinemaRuby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>

  <body style="background-color:black;">
    <div id="app" class="black">
      <header>
        <nav>
          <div class="nav-wrapper red accent-4">
            <%= link_to 'Ruby シネマワールド', root_path, {class: "brand-logo white-space:nowrap"} %>
            <a data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <% if user_signed_in? %>
                <li><%= link_to current_user.email %></li>
                <li><%= link_to '上映スケジュール', root_path %></li>
                <li><%= link_to 'プロフィール確認', edit_user_registration_path %></li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to '上映スケジュール', root_path %></li>
                <li><%= link_to '新規登録', new_user_registration_path %></li>
                <li><%= link_to 'ログイン', new_user_session_path %></li>
              <% end %>
            </ul>
          </div>
        </nav>
  
        <ul class="sidenav black" id="mobile-menu">
          <% if user_signed_in? %>
            <li class="red accent-4"><%= link_to current_user.email, edit_user_registration_path, {class: "white-text"} %></li>
            <li class="red accent-4"><%= link_to '上映スケジュール', root_path, {class: "white-text"} %></li>
            <li class="red accent-4"><%= link_to 'プロフィール確認', edit_user_registration_path, {class: "white-text"} %></li>
            <li class="red accent-4"><%= link_to 'ログアウト', destroy_user_session_path, {method: :delete, class: "white-text"} %></li>
          <% else %>
            <li class="red accent-4"><%= link_to '上映スケジュール', root_path, {class: "white-text"} %></li>
            <li class="red accent-4"><%= link_to '新規登録', new_user_registration_path, {class: "white-text"} %></li>
            <li class="red accent-4"><%= link_to 'ログイン', new_user_session_path, {class: "white-text"} %></li>
          <% end %>
        </ul>
      </header>

      <p class="notice white-text"><%= notice %></p>
      <p class="alert white-text"><%= alert %></p>
      <%= yield %>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
